<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
<log4net>
  <appender name="Console" type="Log4Net.Appender.ConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.SimpleLayout" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%d %-5level %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="File" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\Log_" />
    <datePattern value="dd.MM.yyyy HH.mm'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="5MB"/>
    <maxSizeRollBackups value="10"/>   
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %level %thread %logger - %message%newline"/>
    </layout>
   </appender>

  <appender name="RP" type="ReportPortal.Log4Net.ReportPortalAppender, ReportPortal.Log4Net">
    <layout type="log4net.Layout.SimpleLayout" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RP" />
    <appender-ref ref="File" />
    <appender-ref ref="Console" />   
  </root>
</log4net>

</configuration>